[Desktop Entry]
Type=Application
Name=testapp
Exec=testapp
Icon=appicon
Categories=Development;
Terminal=false
Keywords=gails
Version=1.0
StartupNotify=false
